@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.App{
  font-family: 'Roboto', sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.user-card{
  max-width: 100%;
  padding: 1rem;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.25));
}

.user-card__header{
  background: #121660;
  margin: -1rem -1rem 1rem;
  padding: 0.5rem;
}

.user-card__header__username{
  color: #fff;
  font-weight: bold;
  margin: 0 0 0.25rem;
  font-size: 1.5rem;

}
.user-card__header__username:after{
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  background: #fff;
}


.separator{
  background: #121660;
  height: 1px;
  width: 100%;
  margin: 0.5rem 0;
}
.user-card__header__fullname,
.user-card__header__email{
  display: block;
  color: #fff;
  margin: 0.25rem 0;
}

.user-card__header__email{
  font-size: 13px;
  font-weight: 300;
  margin-top: 0.25rem;
}

.user-card__body span:not(.separator){
  margin: 0.25rem 0;
}

.user-card__body strong{
  color: #333;
}

.user-card__body span{
  display: block;
  font-weight: 300;
}


